.App {
	margin-top: 20vh;
  text-align: center;
	font-size: 1.6em;
}

.annotatable {
	display: inline-block;
	margin: 0 .3em;
}

.empty {
	width: 2em;
	user-select: none;
}

.box {
	position: relative;
	display: block;
	margin-top: .1em;
	position: relative;
	background-color: lightgreen;
	height: 1.5em;
	border-radius: 10%;
	box-shadow: 2px 1.5px green;
}

.box-content {
	position: absolute;
	width: 100%;
}

.disabled > .box {
	background-color: lightgray;
	box-shadow: none;
	box-shadow: 2px 1.5px gray;
}

.dropdown-offset {
	position: absolute;
	left: 50%;
	top: 100%;
}

.dropdown {
	position: relative;
	left: -50%;
	background-color: #f2f2f2;
}

.dropdown td {
	padding: 0 20px;
}

.dropdown td:hover {
	background-color: #cccccc;
}
